<footer class="page-footer">
    <div class="container">
        <div class="footer row d-flex justify-content-between list-unstyled">
            <a href="{{ path('contact') }}" target="_blank">Contact</a>
            <a href="{{ path('app_thanks') }}">Remerciements</a>
        </div>
    </div>
</footer>
