<footer class="page-footer">
    <div class="container">
        <div class="footer row d-flex justify-content-between list-unstyled">
            <a href="#" target="_blank">Contact</a>
            <a href="#">Remerciements</a>
        </div>
    </div>
</footer>
