{% extends 'base.html.twig' %}

{% block title %}Thanks !{% endblock %}

{% block body %}
    <div class="container-login">
        <div class="container">
            <h1 class="text-center">Un grand merci !</h1>
            <p>
                Je profite de cette section pour remercier avant tout mon formateur Guillaume !<br>
                Merci pour tous ce temps passé à nous apprendre tout cela ! <br>
                Merci pour tous les débbug et tous les tips =) <br>
                Je n'oublierais pas les moments de rigolades (SpiderMan)<br>
                <br>
                Je tiens également à remercier le staff ! Sans vous, nous ne serions pas allé aussi loin ! <br>
                <br>
                Je voulais remercier également tous les gens de la promo sans qui, cela n'aurait pas été pareil !<br>
                Nous nous sommes soutenus et avons avancé ensemble amlgrès quelques larmes de sang !<br>
                <br>
                Et enfin, Merci à mon homme qui a réussi a me soutenir malgrès toutes les fois ou j'ai passé un temps
                de malade sur l'orinateur plutôt que d'être avec lui <i class="fas fa-heart heart"></i><br>
                <br>
                Merci pour tout encore une fois !<br>
            </p>
            <h2 class="text-center">Benjamin</h2>
        </div>
    </div>
{% endblock %}
