.container-collaborator {
  margin: 17vh;
  border: 1px solid $black;
  background-color: $transp-white;

  .collabs {
    display: flex;
    align-items: center;
  }

  h1, p {
    text-align: center;
  }

  .heart {
    color: red;
  }

  img {
    border-radius: 50%;
    height: 30vh;
    margin: 5vw;
    border: 2px solid $white;
  }

  .left {
    justify-content: flex-end;
  }

  .right {
    justify-content: flex-start;
  }

  .navigation {
    display: flex;
    justify-content: center;
  }

  .pagination {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1250px){
  .container-collaborator {
    .collabs {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 650px){
  .container-collaborator {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}