nav {
  background-color: $green;
  box-shadow: 3px 3px 3px $black;
  .navbar-brand {
    font-size: 3rem;
  }
  a {
    color: $black;
    &:hover {
      color: $white;
    }
  }
  .nav-link {
    font-family: $title-text;
    font-size: 1.7rem;
  }
}