{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container-contact">
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center mb-5">
            <button class="btn main-btn">Envoyer</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}