<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script|Tangerine&display=swap" rel="stylesheet">
        <title>{% block title %}Bienvenu !{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'base/_navbar.html.twig' %}
        {% endblock %}
        {% block space %}
            <div class="space-for-nav"></div>
        {% endblock %}

        {% block flashes %}
            {% for label, messages in app.flashes() %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% include 'base/_footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
